<section class="flex flex-col flex-1">
  <h2 class="text-2xl font-bold my-4">Add new recipe</h2>
  <label for="recipe-name">Recipe name:</label>
  <input id="recipe-name" class="w-full h-12 px-4 border rounded" #recipeName />
  <label for="recipe-description" class="mt-2">Recipe description:</label>
  <input
    id="recipe-description"
    class="w-full h-12 px-4 border rounded"
    #recipeDescription
  />
  <label for="recipe-image" class="mt-2">Recipe image:</label>
  <input
    id="recipe-image"
    class="w-full h-12 px-4 border rounded"
    #recipeImage
  />
  <h3 class="text-xl font-bold my-4">Ingredients:</h3>
  <div class="flex gap-4">
    <div class="flex flex-col flex-1">
      <label for="ingredient-name">Ingredient name:</label>
      <input
        id="ingredient-name"
        class="h-12 px-4 border rounded"
        #ingredientName
      />
    </div>
    <div class="flex flex-col">
      <label for="ingredient-amount">amount:</label>
      <input
        id="ingredient-amount"
        class="w-24 h-12 px-4 border rounded"
        #ingredientAmount
      />
    </div>
    <button
      class="h-12 p-4 mt-auto text-white font-bold rounded bg-green-600"
      [disabled]="!ingredientName.value || !ingredientAmount.value"
      (click)="
        onIngredientAdded({
          name: ingredientName.value,
          amount: ingredientAmount.value
        })
      "
    >
      Add
    </button>
  </div>
  <div class="flex-1 py-4 space-y-2">
    <div class="flex p-2 gap-4 rounded-md bg-white">
      <p class="flex-1 text-md">name:</p>
      <p class="w-40 text-md">amount</p>
    </div>
    <app-ingredient
      *ngFor="let ingredient of ingredients"
      [ingredient]="ingredient"
    >
    </app-ingredient>
  </div>
  <div class="flex">
    <button
      class="w-36 h-12 text-white font-bold rounded mr-auto bg-red-600"
      (click)="onRecipeCancel()"
    >
      Cancel
    </button>
    <button
      class="w-36 h-12 text-white font-bold rounded bg-green-600"
      [disabled]="
        !recipeName || !recipeDescription || !recipeImage || !ingredients.length
      "
      (click)="
        onRecipeAdded({
          name: recipeName.value,
          description: recipeDescription.value,
          image: recipeImage.value,
          ingredients: ingredients
        })
      "
    >
      Add recipe
    </button>
  </div>
</section>
